[Unit]
Description="uWSGI server for Loris"
After=network.target

[Install]
After=network.target

[Service]
Restart=on-failure
{% if pillar.elife.newrelic.enabled %}
Environment="NEW_RELIC_CONFIG_FILE=/opt/loris/newrelic.ini"
ExecStart=/opt/loris/venv/bin/newrelic-admin run-program /opt/loris/venv/bin/uwsgi --ini /etc/loris2/uwsgi.ini
{% else %}
ExecStart=/opt/loris/venv/bin/uwsgi --ini /etc/loris2/uwsgi.ini
{% endif %}
